@layer recipes {
    .mr-separator {
        --mr-separator-color: var(--mr-border-subtle);

        border: 0;
        margin: 0;
        flex-shrink: 0;
        background: var(--mr-separator-color);
    }

    .mr-separator--horizontal {
        width: 100%;
        height: 1px;
    }

    .mr-separator--vertical {
        width: 1px;
        height: 100%;
    }
}
