@layer monority.recipes {
    .mr-text {
        line-height: var(--mr-leading-relaxed);
    }
    .mr-text[data-tone='muted'] {
        color: var(--mr-text-secondary);
    }
    .mr-text[data-tone='base'] {
        color: var(--mr-text-primary);
    }
    .mr-text[data-tone='strong'] {
        color: var(--mr-text-primary);
    }
    .mr-text[data-size='sm'] {
        font-size: var(--mr-text-xs);
    }
    .mr-text[data-size='md'] {
        font-size: var(--mr-text-sm);
    }
    .mr-text[data-size='lg'] {
        font-size: var(--mr-text-md);
    }
}
