.mr-stack-xs,
.mr-stack-s,
.mr-stack-m,
.mr-stack-l,
.mr-stack-xl {
    display: grid;
}

.mr-stack-xs {
    gap: var(--mr-spacing-1-5);
}

.mr-stack-s {
    gap: var(--mr-space-3);
}

.mr-stack-m {
    gap: var(--mr-space-4);
}

.mr-stack-l {
    gap: var(--mr-space-6);
}

.mr-stack-xl {
    gap: var(--mr-space-8);
}
