.mr-stack-xs,
.mr-stack-s,
.mr-stack-m,
.mr-stack-l,
.mr-stack-xl {
    display: grid;
}

.mr-stack-xs {
    gap: var(--mr-spacing-1-5);
}

.mr-stack-s {
    gap: var(--mr-spacing-2);
}

.mr-stack-m {
    gap: var(--mr-spacing-4);
}

.mr-stack-l {
    gap: var(--mr-spacing-6);
}

.mr-stack-xl {
    gap: var(--mr-spacing-12);
}
