:root {
  --mr-color-white: #ffffff;
  --mr-color-black: #000000;
  --mr-color-neutral-50: #fafafa;
  --mr-color-neutral-100: #f4f4f5;
  --mr-color-neutral-200: #e4e4e7;
  --mr-color-neutral-300: #d4d4d8;
  --mr-color-neutral-400: #a1a1aa;
  --mr-color-neutral-500: #71717a;
  --mr-color-neutral-600: #52525b;
  --mr-color-neutral-700: #3f3f46;
  --mr-color-neutral-800: #27272a;
  --mr-color-neutral-900: #18181b;
  --mr-color-neutral-950: #09090b;
}
