:root {
  --mr-opacity-0: 0;
  --mr-opacity-10: 0.1;
  --mr-opacity-20: 0.2;
  --mr-opacity-30: 0.3;
  --mr-opacity-40: 0.4;
  --mr-opacity-50: 0.5;
  --mr-opacity-60: 0.6;
  --mr-opacity-70: 0.7;
  --mr-opacity-80: 0.8;
  --mr-opacity-90: 0.9;
  --mr-opacity-100: 1;
  --mr-opacity-disabled: 0.5;
}
