:root {
  --mr-space-0: 0;
  --mr-space-1: 0.25rem;
  --mr-space-2: 0.5rem;
  --mr-space-3: 0.75rem;
  --mr-space-4: 1rem;
  --mr-space-5: 1.5rem;
  --mr-space-6: 2rem;
  --mr-space-7: 3rem;
  --mr-space-8: 4rem;
  --mr-space-9: 6rem;
}
