:root {
  --mr-space-0: 0;
  --mr-space-1: 0.1875rem;
  --mr-space-2: 0.375rem;
  --mr-space-3: 0.5625rem;
  --mr-space-4: 0.875rem;
  --mr-space-5: 1.25rem;
  --mr-space-6: 1.75rem;
  --mr-space-7: 2.5rem;
  --mr-space-8: 3.5rem;
  --mr-space-9: 5rem;
}
