@layer recipes {
  .mr-section {
    width: 100%;
  }

  .mr-section--sm,
  .mr-section[data-spacing='sm'] {
    padding-block: var(--mr-space-4);
  }

  .mr-section--md,
  .mr-section[data-spacing='md'] {
    padding-block: var(--mr-space-8);
  }

  .mr-section--lg,
  .mr-section[data-spacing='lg'] {
    padding-block: var(--mr-space-12);
  }

  .mr-section--xl,
  .mr-section[data-spacing='xl'] {
    padding-block: var(--mr-space-16);
  }
}
